/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900');
@import url('rain.css');
@import url('header.css');
@import url('about.css');
@import url('team.css');
@import url('partners.css');
@import url('user-types.css');
@import url('roadmap.css');
@import url('footer.css');

html {

  overflow-x: hidden;
}

body {
  font-family: "Montserrat", Helvetica !important;
  color: #43464C;
  overflow-x: hidden;
}


/*
//  MAIN
*/

.btn {
  border: none;
    border-radius: 4px;
    font-size: 11px;
    height: 42px;
    text-transform: auto;
    line-height: 30px;
    font-weight: 400;
    text-shadow: none;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.20);
    letter-spacing: 1px;
    outline: none !important;
}

.btn:active {
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.05);
  opacity: 0.6;
}

.btn.btn-primary {
  background: #03A9F4;
}

.btn.btn-success {
  background: rgba(105,105,105,0.8);
}

.btn.btn-default {
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.btn.btn-clear {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: none;
}

input[type=text], input[type=password], input[type=email], input[type=address] {
  min-height: 38px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.mrt {
  margin-top: 15px;
}

.mrb {
  margin-bottom: 15px;
}

.mrr {
  margin-right: 15px;
}

.mrl {
  margin-left: 15px;
}

.mrt.x2 {
  margin-top: 30px;
}

.mrb.x2 {
  margin-bottom: 30px;
}

.mrr.x2 {
  margin-right: 30px;
}

.mrl.x2 {
  margin-left: 30px;
}

.section-header {
  padding: 30px 0px;
  text-align: center;
  width: 100%;
  color: #858B95;
}

.section-header .title {
  display: block;
  clear: both;
  font-size: 28px;
  font-weight: 500;
}

.section-header .info {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.section-header .short {
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

/*
//  NAVBAR
*/

#navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 15px 0 30px 0;
  min-height: auto;
  max-height: auto;
  background: -moz-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
  background: linear-gradient(to bottom, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
  border-bottom: none;
}

#navbar .hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

#navbar .hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#navbar .hvr-underline-reveal:hover:before, #navbar .hvr-underline-reveal:focus:before, #navbar .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#navbar .navbar-nav>li>a {
  color: #176E63;
}

#navbar .navbar-brand {
  margin-right: 15px;
}

#navbar .navbar-brand img {
  height: 80px;
  display: inline-block;
  top: -5px;
  position: relative;
}



#navbar .btn.btn-default {
  background-color: rgba(0,0,0,0.5);
  color:#fff;
}



#navbar .navbar-nav {
  padding: 0;
  list-style: none;
}

#navbar .navbar-nav>li {
  border-radius: 2px;
  overflow: visible;
  margin-top: 5px;
}

#navbar .collapse.left {
  float: left;
  border: none;
}

#navbar .navbar-default, #navbar .navbar-default .navbar-header {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#navbar.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.7);
}

#navbar.navbar-default .navbar-toggle .icon-bar {
  color: #fff;
  background-color: #fff;
}

.navbar-nav ul>li>a {
  color: #43464C;
}

.navbar-nav .navbar-collapse.collapse {
  float: left;
}

.dropdown-menu {
  background-color: #43464C;
  border: none;
  border-radius: 0;
}

.dropdown-menu>li {
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu>li>a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu>li:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #03A9F4;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(0, 0, 0, 0);
}

#navbar.navbar-default {
  z-index: 999999999;
  position: fixed;
  width: 100%;
  border-radius: 0;
  padding: 10px 10px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  padding: 15px 0 50px 0;
  min-height: auto;
  max-height: auto;
  background: -moz-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
  background: linear-gradient(to bottom, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0) 100%);
}

#navbar.navbar-default .navbar-header {
  height: 60px;
  border: none;
}

#navbar.navbar-default ul>li>a {
  color: rgba(0,0,0,0.5);
  position: relative;
  text-shadow: none;
}

#navbar.navbar-default ul>li>a:focus, #navbar.navbar-default ul>li>a:active {
  background: rgba(0, 0, 0, 0.0);
  opacity: 1;
}

#navbar.navbar-default ul>li>a:hover {
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  opacity: 1;
  text-shadow: none;
}

#navbar .navbar-default ul>li>a:hover:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#navbar .navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

#navbar .navbar-collapse .collapse.in {
  border: none;
  width: 100%;
}

#navbar.navbar-default .navbar-form {
  border: none !Important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  #navbar.navbar-default.mobile-open {
    background: -moz-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(115, 143, 173, 0.9) 0%, rgba(50, 55, 68, 0.4) 100%);
    padding-bottom: 0;
    box-shadow: 0 2px 25px rgba(0, 0, 0, .2);
  }
  #navbar.navbar-default.mobile-open .navbar-form, #navbar.navbar-default.mobile-open .navbar-collapse {
    border: none;
    box-shadow: none;
  }
  #navbar .navbar-nav>li, #navbar.navbar-default .navbar-form {
    text-align: center;
  }
  #navbar.navbar-default ul>li>a {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .tab-section .tabs .tab {
    width: 50%;
    float: left;
  }
}


/*
//  TAB SECTION
*/

.tab-section {
  padding: 60px 0 0px;

  margin-bottom: 0;
}

.tab-section .tabs {
  margin-bottom: 30px;
}

.tab-section .tabs .wrapper {
  margin: 0 auto;
  float: none;
}

.tab-section .tabs .tab {
  text-align: center;
  padding: 20px 15px;
  pointer-events: all;
  cursor: pointer;
}

.tab-section .tabs .tab .icon {
  font-size: 50px;
  width: 100%;
  margin-bottom: 15px;
}

.tab-section .tabs .tab .title {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-top: 0;
}

.tab-section .tabs .tab.active:before {
  background: rgba(3, 169, 244, 0.23);
  border-radius: 8px;
  color: #03A9F4;
  content: " ";
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  position: absolute;
}

.tab-section .tabs .tab:hover:before {
  background: rgba(3, 169, 244, 0.23);
  border-radius: 8px;
  color: #03A9F4;
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.tab-section .tabs .tab.active {
  color: #03A9F4;
}

.tab-section .detail {
  display: none;
}

.tab-section .detail.active {
  display: block;
}

.tab-section .detail img {
  width: 100%;
}

.tab-section .detail .heading {
  padding: 30px
}

.tab-section .detail .heading .title {
  color: #03A9F4;
}

.tab-section .detail .heading .short {
  line-height: 24px;
  font-weight: 300;
}

.tab-section .section-header .title {
  color: #03A9F4;
}

.tab-section.green {
  background-image: linear-gradient(-179deg, #fff 5%, #FFFFFF 78%);
}

.tab-section.green .tabs .tab.active {
  color: #67db97;
}

.tab-section.green .tabs .tab:hover:before {
  color: #67db97;
  background: rgba(103, 219, 151, 0.15);
}

.tab-section.green .tabs .tab.active:before {
  color: #67db97;
  background: rgba(103, 219, 151, 0.15);
}

.tab-section.green .detail .heading .title {
  color: #67db97;
}

.tab-section.green .section-header .title {
  color: #67db97;
}

.tab-section .tabs .tab
/*
//  TAB SECTION
*/

.slide-section {
  padding: 60px 0 60px;
  border: 1px dashed #eee;
  margin: 30px 0 0;
}

.slide-section .btns {
  text-align: center;
}

.slide-section .btns .btn {
  display: inline-block;
  float: none;
  margin-bottom: 10px;
}

.slide-section .btns .btn:not(:last-child) {
  margin-right: 15px;
}

.slide-section .slides {}

.slide-section .slides .slide {
  padding: 30px 0;
  margin-top: 30px;
  display: none;
}

.slide-section .slides .slide.active {
  display: block;
}

.slide-section .slides .slide img {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.slide-section .slides .slide img.receipt {
  max-width: 650px;
  margin: 0 auto;
}

.slide-section .slides .slide img.ticket {
  max-height: 250px;
  max-width: 100%;
  width: auto;
}

.slide-section .slides .slide img.bill {
  right: -25px;
}

@media (min-width: 1200px) {
  .slide-section .section-header {
    width: 50%;
    margin: 0 auto;
  }
}


/*
//  HEADER
*/

.demo-section {
  background-color: #FCFCFC;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 0;
  overflow: visible;
  position: relative;
  padding-top: 280px;
  padding-bottom: 0px;
  color: #858B95;
}

.demo-section:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../img/demo_bg.png);
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 1;
  top: -0;
}

.demo-section .container {
  position: relative;
  top: -30px;
  z-index: 1;
}

.demo-section .section-header {
  text-align: left;
}

.demo-section .features {
  text-align: center;
}

.demo-section .features .feature {
  margin-bottom: 0px;
  border-bottom: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
  padding-bottom: 30px;
  padding-top: 30px;
}

.demo-section .features .feature.last {
  border-right: 0px solid #ddd;
}

.demo-section .features.last .feature {
  border-bottom: 0px solid #ddd;
}

.demo-section .features .feature .icon {
  font-size: 40px;
  width: 100%;
  margin-bottom: 15px;
}

.demo-section .features .feature .title {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
}

.demo-requests .table-responsive {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.demo-requests thead {
  color: #2a5885;
}

.demo-requests thead td {
  padding: 20px 5px;
}

.demo-requests tbody tr.active {
  opacity: 0.5;
}

.demo-requests .glyphicon {
  padding-left: 5px;
}

.demo-requests .glyphicon-star {
  color: red;
}

.demo-requests .glyphicon-star-empty {
  color: green;
}

.demo-requests .badge-info {
  background-color: #2a5885;
  color: #d7e2ec;
}

.demo-requests .message {
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin: 5px;
}

@media (max-width: 768px) {
  /* extra small */
  .demo-section {
    padding-top: 100px;
  }
  .demo-section .features .feature {
    border-top: 1px dashed #ddd;
    border-right: 0px dashed #ddd;
  }
  .demo-section .features .feature:first-child {
    border-right: 1px dashed #ddd;
  }
  .demo-section .features.last {
    margin-bottom: 15px;
  }
  .demo-section .features.last .feature {
    border-top: 1px dashed #ddd;
    border-right: 0px dashed #ddd;
  }
  .demo-section .features.last .feature:first-child {
    border-right: 1px dashed #ddd;
  }
}


/*
// CONTACTS
*/

.contacts-section {
  background-color: #FCFCFC;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 0;
  overflow: visible;
  position: relative;
  color: #858B95;
  padding: 15px 0;
  border-bottom: 0px solid #ddd;
}

.contacts-section .section-header {
  text-align: center;
}

.contacts-section .col .icon {
  font-size: 50px;
  width: 100%;
  margin-bottom: 15px;
}

.contacts-section .section-header .title {
  color: rgba(0, 0, 0, 0.6);
}

.contacts-section .container .col:not(:first-child) {
  border-left: 1px dashed #ddd;
}

@media (max-width: 768px) {
  /* extra small */
  .contacts-section .container .col {
    border-left: 0px dashed #ddd;
    border-right: 0px;
    border-top: 1px dashed #ddd;
  }
}


/*
// FOOTER
*/

.footer-section {
  background-color: #FCFCFC;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 0;
  overflow: visible;
  position: relative;
  color: #858B95;
  padding: 30px 0;
}

.footer-section .container {
  position: relative;
  z-index: 1;
  padding: 30px 15px 0 15px;
  border-top: 1px dashed #ddd;
  display: flex;
}

.footer-section .container .col {
  display: block;
  width: 100%;
  font-size: 12px;
}

.footer-section .container .col.right {
  text-align: right;
}

.footer-section .container .col>* {
  width: 100%;
  text-align: right;
}

.footer-section .section-header {
  text-align: left;
}

.footer-section .brand {
  height: 56px;
  display: inline-block;
  top: 0px;
  position: relative;
  left: 0px;
}

.footer-section .brand img {
  height: 100%;
}

.footer-section .container>.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-section .container>.row .col {
  width: 100%;
}

.footer-section .container>.row .col a {
  color: #858B95;
}

.footer-section .container>.row .col.right {
  text-align: right;
}

.footer-section .container>.row .col.right>* {
  text-align: right;
  width: 100%;
}

.footer-section .container>.row .col .dropdown-menu {
  bottom: 100% !important;
  top: auto !important;
  margin-bottom: 10px;
}

.footer-section .container>.row .col .btn {
  background-color: #858B95;
  color: #fff;
}

.footer-section .container>.row .col label {
  font-weight: 300;
}


/*
//  REQUEST FORM
*/

.request-form {
  width: 100%;
  background-color: #858B95;
  box-shadow: 0 5px 45px rgba(0, 0, 0, .25);
  top: -0px;
  position: relative;
  border-radius: 2px;
  padding: 30px 30px;
  color: #fff;
}

.request-form label {
  font-weight: 300;
  text-align: left;
  float: left;
}

.request-form .form-buttons .btn {
  float: right;
  margin-top: 15px;
}

.request-form input {
  border-radius: 2px;
  padding: 8px 10px;
}

.request-form textarea {
  height: 120px;
  max-width: 100%;
}

.request-form .form-group {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.request-form .response-message {
  font-weight: 500;
  background: #67db97;
  padding: 15px;
  color: #fff;
  overflow: hidden;
  border-radius: 4px;
}

/*
//  TAB SECTION
*/

.plans-section {
  padding: 30px 0 60px;
}

.plans-section .plans {
  background-color: #fff;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  margin-top: 45px;
  /*  box-shadow: 0 5px 45px rgba(0, 0, 0, .25); */
}

.plans-section .plans .plan {
  text-align: center;
  padding: 0;
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
}

.plans-section .plans .plan.featured {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-top: 30px;
  margin-top: -30px;
  position: relative;
}

.plans-section .plans .plan.blue:not(:last-child) {
  border-right: 15px solid #fff;
}

.plans-section .plans .plan .head {
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 15px;
  min-height: 230px;
  display: flex;
  align-items: center;
}

.plans-section .plans .plan .head>div {
  flex-direction: column;
  margin: auto;
}

.plans-section .plans .plan .head .icon {
  font-size: 44px;
  line-height: 30px;
  color: #03A9F4;
}

.plans-section .plans .plan.green .head .icon {
  color: #67db97;
}

.plan .suggestions .btn {
  box-shadow: none;
  pointer-events: none;
  padding: 0px 8px;
  min-height: 30px;
  max-height: 30px;
}

.plan .target-users {
  margin: 30px 0 0;
}

.plan .target-users .short {
  margin: 0px 0;
}

.plan .target-users .value {
  margin: 10px 0 0px 0;
}

.plan .head .short {
  font-weight: 300;
}

.plan .content {
  padding: 30px 30px 65px 30px;
  text-align: left;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
}

.plan.featured .content {
  padding-bottom: 60px;
}

.plans-section .plans .plan .content .actions {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  padding: 10px 15px;
  text-align: center;
}

.plans-section .plans .plan .content .actions .btn {
  width: 100%;
}

.plan .content ul {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  list-style-type: circle;
  padding: 0 0 0 15px;
}

.plan .content ul li {
  margin-bottom: 5px;
}

.plan .content .label {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: -8px;
}

.plan.blue .head>.title, .plan.blue .target-users .value {
  color: #03A9F4;
}

.plan.blue .suggestions .btn {
  color: #fff;
  background-color: #03A9F4;
}

.plan.blue .content {
  background-color: #ECF5F9;
  background: rgb(236, 245, 249);
  background: -moz-linear-gradient(top, rgba(236, 245, 249, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(236, 245, 249, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(236, 245, 249, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf5f9', endColorstr='#ffffff', GradientType=0);
}

.plan.green .head>.title, .plan.green .target-users .value {
  color: #67db97;
}

.plan.green .suggestions .btn {
  background-color: #67db97;
  color: #fff;
}

.plan.green .content {
  background-color: #EFFCF9;
}

@media (max-width: 768px) {
  /* extra small */
  .plans-section .plans {
    display: block;
    flex-direction: none;
  }
  .plans-section .plans .plan {
    display: block;
    border: none !important;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  .plans-section .plans .plan.featured {
    margin-top: 0;
  }
  .plans-section .plans .plan .content .actions {
    position: relative;
    margin-top: 0px;
    left: 0;
    top: 0;
  }
  .plan .content {
    padding-bottom: 15px;
  }
}



.btn-void{
  background-color: transparent;
  color: #efefef;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-void:hover{
  color: white;
}

.sec-diag{
  width: 100%;
background: #fff;
height: 90px;
margin-top: -45px;
-webkit-transform: rotate(-5deg) scale(1.4) skew(-2deg) translate(0px);
transform: rotate(-5deg) scale(1.4) skew(-2deg) translate(0px);
-moz-transform: rotate(-5deg) scale(1.4) skew(-2deg) translate(0px);
-o-transform: rotate(-5deg) scale(1.4) skew(-2deg) translate(0px);
-ms-transform: rotate(-5deg) scale(1.4) skew(-2deg) translate(0px);

}
