.user-types-section {
  padding: 230px 0 130px 0;
  background: rgba(226, 253, 236, 0.50);
  position: relative;
}
.user-types-section .section-header {
  margin-bottom: 60px;
}

.user-types-section .tabs {
  margin-bottom: 90px;
}

.user-types-section .tabs .tab {
      height: 200px;
}

.user-types-section .tabs .box {
  display: block;
  position: relative;
  background-repeat: no-repeat !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 200px;
  height: 200px;
  background-size: contain !important;
  margin: 0 auto;
  text-align: center;
  box-sizing: content-box;
  padding-top: 25px;
}

.user-types-section .tabs .box .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  display: inline-block;
  clear: both;
  margin-bottom: 10px;
}

.user-types-section .tabs .box-1 {
  background: url(../img/box-1.svg);
}

.user-types-section .tabs .box-2 {
  background: url(../img/box-2.svg);
  top: -30px;
    padding-top: 60px;
}

.user-types-section .tabs .box-3 {
  background: url(../img/box-3.svg);
}

.user-types-section .tabs .active.box-1,.user-types-section .tabs .box-1:hover {
  background: url(../img/box-1-a.svg);
}

.user-types-section .tabs .active.box-2,.user-types-section .tabs .box-2:hover {
  background: url(../img/box-2-a.svg);
}

.user-types-section .tabs .active.box-3,.user-types-section .tabs .box-3:hover {
  background: url(../img/box-3-a.svg);
}


@media (max-width:1024px){

  .user-types-section .detail .heading{
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:0px;
  }

  .user-types-section {
    padding: 150px 0 50px 0 !important;
  }

  .user-types-section .detail .image img{
    width:325px !important;
  }

  .user-types-section .detail .image{
    padding:50px 50px;
    text-align: center !important;
  }

}

@media (min-width:1024px){

  .user-types-section .detail .heading{
    text-align: right;
    padding-right: 45px;
    padding-top:0px;
  }

  .user-types-section .detail .image{
    padding:0 100px;
    text-align: left;
  }

  .user-types-section .detail .image img{
      width:100% !important;
  }

}





.user-types-section .detail .title{
  color:#67db97;
  font-size: 26px;
}

.user-types-section .detail .short{
  color:rgba(0, 0, 0, 0.55);
  font-weight: 500;
  line-height: 26px;
}


.user-types-section .separator {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  width: 100%;
  height: 150px;
}

.user-types-section .separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.user-types-section .separator.reverse {
  bottom: 0;
  top: auto;
  transform: rotateX(180deg) rotateY(180deg);
}
