<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="eng">
<!--<![endif]-->

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:app_id"             content="360502811037110" />
  <meta property="og:url"                content="http://habitat.ventures" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Reimagining Community Values" />
  <meta property="og:description"        content="Habitat makes cryptocurrencies accessible, supports innovative communities, and grows revolutionary ideas." />
  <meta property="og:image"              content="http://habitat.ventures/img/habitat_logo_RC_noText.png" />
  

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@cryptohabitat" />
  <meta name="twitter:title" content="Reimagining Community Values" />
  <meta name="twitter:description" content="abitat makes cryptocurrencies accessible, supports innovative communities, and grows revolutionary ideas." />
  <meta name="twitter:image" content="http://habitat.ventures/img/habitat_logo_RC_noText.png" />

  <title>Habitat - <%-title%></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">

  <link rel="stylesheet" type="text/css" href="/css/material-cards.css">

  <!--<script type="text/javascript" src="js/drift-init.js"></script>-->

  <script>
   (function(i,s,o,g,r,a,m){i[‘GoogleAnalyticsObject’]=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,‘script’,‘https://www.google-analytics.com/analytics.js','ga');

   ga(‘create’, ‘UA-103823185-1’, ‘auto’);
   ga(‘send’, ‘pageview’);

  </script>

  <!-- Begin Inspectlet Embed Code -->
  <script type=“text/javascript” id=“inspectletjs”>
    window.__insp = window.__insp || [];
    __insp.push([‘wid’, 1073040273]);
    (function() {
    function ldinsp(){if(typeof window.__inspld != “undefined”) return; window.__inspld = 1; var insp = document.createElement(‘script’); insp.type = ‘text/javascript’; insp.async = true; insp.id = “inspsync”; insp.src = (‘https:’ == document.location.protocol ? ‘https’ : ‘http’) + ‘://cdn.inspectlet.com/inspectlet.js’; var x = document.getElementsByTagName(‘script’)[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 500); document.readyState != “complete” ? (window.attachEvent ? window.attachEvent(‘onload’, ldinsp) : window.addEventListener(‘load’, ldinsp, false)) : ldinsp();
    })();
  </script>
  <!-- End Inspectlet Embed Code -->

</head>

<body>