.footer-section2{
  background-color: #36777e;
}

.footer-section2 .col-left{
  background-color: #549197;
  padding: 60px;
  min-height: 400px;
}


.footer-section2 .col-right {
  padding-left: 130px;
}

.footer-section2 .info{
    font-size: 15px;
}

.footer-section2  p{
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.footer-section2 .info h2{
  color: rgba(0, 0, 0, 0.5);
}

.footer-section2 .stayup{
    padding-top: 70px;
    font-size: 15px;
}

.footer-section2 .btn-slack{
  background-color: rgb(71, 163, 145) !important;
  color: white;
}

.footer-section2 .stayup h1, a{
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding-bottom: 2%;
}
.footer-section2 .menu p{
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.footer-section2 .menu{
    padding-left: 55px;
}


.footer-section2 .social .icon {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  text-align: center;
  line-height: 45px;
  display: inline-block;
}

.footer-section2 .social .icon img {
  height: 30px;
  width: auto;
  display: inline-block;
}


.footer-section2 .social .icon.small img {
  height: 25px;
}


.footer-section2 ul{
    list-style: circle outside none;
}

.footer-section2 ul li{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom:10px;
}

.footer-section2 .form-inline .form-control {

    height: 42px;
}

.footer-section2 .separator {
  width: 120px;
  height: 400px;
  position: absolute;
  left:-2px;
}

.footer-section2 .separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #559097;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}


.footer-section2 .link .col-md-6{
    padding: 20px;
    text-align: center;
}

@media (min-width:1024px){

    .footer-section2 .link .col-md-6:nth-child(2n+1){
      border-right: 2px dotted rgba(0, 0, 0, 0.2);

    }

    .footer-section2 .link .col-md-10:nth-child(2n){
        border-top: 2px dotted rgba(0, 0, 0, 0.2);
    }

}
@media (max-width:768px){
    .footer-section2 .link .col-md-6{
      float: left;
      padding-top: 20px;
      padding-left: 0px;
    }
    .rigth-icon{
      padding-left: 10px !important;
    }

    .footer-section2 .col-right {
      padding-left: 15px;
    }

    .footer-section2 .stayup {
      padding-bottom: 60px;
      text-align: center;
    }

    .footer-section2 .joinChannel {
      padding-top: 0;
    }

    .footer-section2 .field {
      width: 100%;
    }

    .footer-section2 ul {
      padding-top: 25px;
    }

    .footer-section2 .separator {
      width: 75px;
      height: 415px;
    }

}
@media (min-width:1024px){
  .row.social.link {
    margin-right: -55px;
  }

}

.info-footer {
  padding-top: 10px;
}
