@media (max-width: 768px) {
  h1 {
      font-size: 26px;
      }
  .user-types-section .user-img {
    max-width: 350px;
  }
}

h4 { @media (min-width: 769px) {
  font-size: 28px;
  }
  @media (max-width: 768px) {
    h4 {
      font-size: 18px;
    }
  }
}
