<<<<<<< HEAD
<section id="plans-section" class="plans-section">
  <div class="container">
  <div class="section-header">
    <h4 class="title">The Native Protocol is a framework for community banking. It enables functional decentralized communities, known as Tribes, to generate their own tokens, raise capital and support projects they care about.
      </h4>
    <div class="row">
    <div class="col-md-6">
      <img src="img/icons/token-model.png" class="user-img" style="
    width: 500px;
">
    </div>
    <div class="col-md-6 left">
    <h3 style="
    margin: 10%;
">

    </h3>
    </div>
    </div>
    <img src="img/icons/native.png" class="user-img" style="
  width: 200px;     margin: 10%;
">
<h3>The Native Token is the base currency of the Native Protocol. It is the unit of accounting to represent transactions within the Network. The transactions, and therefore the corresponding activity, is a transference of energy.
</h3>
  <small>*We are building on Ethereum initially, so naturally we have an ETH based reserve. If it is indicated that we should move to another chain or live on multiple chains, we will rebuild Native there and spread the reserve across the chains.
</small>
  </div>
</section>
<img src="img/icons/website-banner.png" class="user-img">
<div class="actions">
  <form class="form-inline flex" action="/p;id=2421e96f8f" method="post">
    <div class="form-group flex">
      <input class="form-control" type="email" value="" name="EMAIL" placeholder="Email" required id="header-mailchimp-input">
    </div>
    <div class="form-group flex">
      <button href="register" class='btn btn-success' id="header-mailchimp-subscribe-button" data-target="#header-mailchimp-input">Join Us</a></button>
    </div>
  </form>
</div>
=======
<section id="plans-section" class="plans-section">
  <div class="container">
  <div class="section-header">
    <h4 class="title">The Native Protocol is a framework for community banking. It enables functional decentralized communities, known as Tribes, to generate their own tokens, raise capital and support projects they care about.
      <br><br>
      Joining a Tribe within the Native Network simultaneously gives the individual power to decide where their money goes, while it remains in a stable environment backed by the Native Reserve.
      <br><br>
      The Native Reserve, is a liquidity pool represented by Native Token. Its value is supported initially by an Ether* reserve which grows with each person that joins the Network, and the activity in the Network which, unlike traditional banking systems, means your money is backed by you and your Tribe.
</h4>
    <div class="row">
    <div class="col-md-6">
      <img src="img/icons/token-model.png" class="user-img" style="
    width: 500px;
">
    </div>
    <div class="col-md-6 left">
    <h3 style="
    margin: 10%;
">Tribe Token Generation Information:
<br><br>When a tribe is created, a Tribe token template for NT to be staked in, is generated
<br><br>Contributor wants to join tribe
<br><br>Stake enough NT to become member or more to acquire larger share
<br><br>Tribe tokens are generated at predetermined price
<br><br>Access Level provides minimum number of tokens to join tribe
<br><br>Additional - Extra token purchase as an investment into the tribe

    </h3>
    </div>
    </div>
    <img src="img/icons/native.png" class="user-img" style="
  width: 200px;     margin: 10%;
">
<h3>The Native Token is the base currency of the Native Protocol. It is the unit of accounting to represent transactions within the Network. The transactions, and therefore the corresponding activity, is a transference of energy.
</h3>
  <h4 class="title"><i>Accumulated wealth IS energy. So, where’s your energy?</i>
  <br><br>
  <small>*We are building on Ethereum initially, so naturally we have an ETH based reserve. If it is indicated that we should move to another chain or live on multiple chains, we will rebuild Native there and spread the reserve across the chains.
</small>
  </div>
</section>
<img src="img/icons/website-banner.png" class="user-img">
<div class="actions">
  <form class="form-inline flex" action="/p;id=2421e96f8f" method="post">
    <div class="form-group flex">
      <input class="form-control" type="email" value="" name="EMAIL" placeholder="Email" required id="header-mailchimp-input">
    </div>
    <div class="form-group flex">
      <button href="register" class='btn btn-success' id="header-mailchimp-subscribe-button" data-target="#header-mailchimp-input">Join Us</a></button>
    </div>
  </form>
</div>
>>>>>>> 2127736e46b77601be94eec43c0b2b53abf49bce
