<<<<<<< HEAD
<section id="header-section" class="tab-section header-section">

  <div class="container">

    <div class="row tabs ">
      <div class="wrapper row col-sm-12 col-md-12">
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 content header-text">
          <h1 class="title">Your wealth stored in banks is dead to you. You don't get a say. </h1>
        </div>
      </div>

    </div>
  </div>
  <div class="separator3"></div>
</section>
=======
<section id="header-section" class="tab-section header-section">

  <div class="container">

    <div class="row tabs ">
      <div class="wrapper row col-sm-12 col-md-12">
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 content header-text">
          <h1 class="title">Your wealth stored in banks is dead to you. You don't get a say. </h1>
        </div>
      </div>

    </div>
  </div>
  <div class="separator3"></div>
</section>
>>>>>>> 2127736e46b77601be94eec43c0b2b53abf49bce
