  <section id="plans-section" class="plans-section">
    <div class="container">
      <div class="section-header">
        <h4>The Native Protocol is a framework for community banking. It enables  functional decentralized communities, known as Tribes, to generate their own tokens, raise capital and support projects they care about.</div>
    <div class="row centered">
        <button onclick="window.open('https://drive.google.com/file/d/0B1rK81P6QGtbakJpRGdPRlNxSDA/view','_blank');"class="btn btn-primary mmr">Whitepaper</button>
    </div>
    </div>
  </section>
