  <section id="plans-section" class="plans-section">

    <div class="container">

      <div class="section-header">
        <h4 class="title">About Habitat</h4>
        <div class="info">Habitat connects creators with contributors through collaborative networks managed by trusted curators. The platform streamlines access into token based projects and allows people to connect around common visions.</div>
      </div>

      <div class="plans row">

        <div class="plan col-sm-12 col-md-3 featured">
          <div class="head color1">
            <div class="">
              <i class="fa  fa-lightbulb-o icon" aria-hidden="true"></i>
              <h3 class="title">Intuitive</h3>
            </div>
          </div>
          <div class="content">
            <p>Participate in blockchain projects through a clean and simple user interface designed to be accessible to everyone.</p>
            </ul>
          </div>
        </div>

        <div class="plan col-sm-12 col-md-3 featured">
          <div class="head color2">
            <div class="">
              <i class="fa fa-users icon" aria-hidden="true"></i>
              <h3 class="title">Collaborative</h3>
            </div>
          </div>
          <div class="content">
            <p>There is power in numbers. Unleash the relational capital of network based communities centered around common values.</p>
            </ul>
          </div>
        </div>

        <div class="plan col-sm-12 col-md-3 featured">
          <div class="head color1">
            <div class="">
              <i class="fa fa-code-fork icon" aria-hidden="true"></i>
              <h3 class="title">Interoperable</h3>
            </div>
          </div>
          <div class="content">
            <p>Enable projects to connect with their contributors while utilizing any token based blockchain framework.</p>
            </ul>
          </div>
        </div>

        <div class="plan col-sm-12 col-md-3 featured">
          <div class="head color2">
            <div class="">
              <i class="fa fa-chain icon" aria-hidden="true"></i>
              <h3 class="title">Trusted</h3>
            </div>
          </div>
          <div class="content">
            <p>Follow projects and networks through reliable curators with aligned motives and incentives.</p>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </section>