  <section id="plans-section" class="plans-section">
    <div class="container">
      <div class="section-header">
        <h4>Habitat's dapp integrates local currency models, ethereum based cryptocurrencies and community crowdfunding to create a fluid framework for functional decentralised communities.
          By connecting blockchain projects to broad-reaching visions, Habitat streamlines smart contracts, communication and collaboration, making it easier for zero-knowledge users to get involved in projects they care about.</h4>
      </div>
    <div class="row centered">
        <button onclick="window.open('https://drive.google.com/file/d/0B1rK81P6QGtbakJpRGdPRlNxSDA/view','_blank');"class="btn btn-green">Whitepaper</button>
        <button onclick="window.open('https://medium.com/habitat-ventures/introduction-to-habitat-9e5b2ebea45c','_blank');" class="btn btn-primary mrr">Introduction</button>
        <button onclick="window.open('https://drive.google.com/file/d/0B1rK81P6QGtbakJpRGdPRlNxSDA/view','_blank');"class="btn btn-green">Token Model</button>
    </div>
    </div>
  </section>
