  <section id="plans-section" class="plans-section">
    <div class="container">
      <div class="section-header">
        <h4>The Native Protocol is a framework for community banking. It enables  functional decentralized communities, known as Tribes, to generate their own tokens, raise capital and support projects they care about.</div>
    <div class="row centered">
        <button onclick="window.open('https://drive.google.com/file/d/1uOl3EyUX0na9SwLILXMLpMyGQ94i5M9U/view?usp=sharing','_blank');"class="btn btn-primary mmr" style="margin-right: 1%;">Whitepaper</button>
        <a class="btn btn-primary" href="https://t.me/nativeprotocol" target="_blank">Join Telegram</a>
    </div>
    </div>
  </section>
