  <section id="header-section" class="tab-section header-section">

    <div class="container">

      <div class="row tabs ">
        <div class="wrapper row col-sm-12 col-md-12">
          <!-- <div class="col-sm-5 col-md-4 col-md-offset-1 video">
            <img src="img/video-image.png" style="width: 100%;">
          </div> -->
          <div class="col-sm-6 col-md-6 col-md-offset-3 col-xs-offset-1 content header-centered">
            <h1 class="title">Unlocking the Value of Community</h1>
            <h6>Habitat makes cryptocurrencies accessible, supports innovative communities, and grows revolutionary ideas.</h6>
            <div class="actions">
              <form class="form-inline flex" action="/p;id=2421e96f8f" method="post">
                <div class="form-group flex">
                  <input class="form-control" type="email" value="" name="EMAIL" placeholder="Email" required id="header-mailchimp-input">
                </div>
                <div class="form-group flex">
                  <button href="register" class='btn btn-success' id="header-mailchimp-subscribe-button" data-target="#header-mailchimp-input">Subscribe</a></button>
                </div>

              </form>
            </div>
            <div class="row">
                <button onclick="window.open('https://medium.com/habitat-ventures/introduction-to-habitat-9e5b2ebea45c','_blank');" class="btn btn-primary mrr">Introduction</button>

                <button onclick="window.open('https://drive.google.com/file/d/0B1rK81P6QGtbakJpRGdPRlNxSDA/view','_blank');"class="btn btn-green">Ecosystem</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="separator3"></div>
  </section>