<section id="plans-section" class="plans-section">
  <div class="container">
  <div class="section-header">
    <div class="row">
    <div class="col-md-6">
      <img src="img/token-model_4.svg" class="user-img banner-img" style="width: 500px;">
    </div>
    <div class="col-md-5 col-md-offset-1 left">
      <br><br>
    <h3>Native Network</h3>
    <div class="info">
    The Native Network is the collective of users and Tribes on the Native Protocol. Searching through tribes and joining groups that are relevant to each user enables a higher degree of sovereignty in relation to where their money goes, while it remains in a stable environment backed by the Native Reserve.</div>
    <br><br>
    <h3>Native Reserve</h3>
    <div class="info">
    The Native Reserve, is a liquidity pool represented by Native Token. The Reserve’s value is supported by an Ether reserve that grows with each user who joins the Network. The supply and price point of Native Token in the reserve is also partially determined by the activity in the Network which, unlike traditional banking systems, means your money is backed by you and your Tribe.  </div>
    <br><br>
    <h3>Tribe Token</h3>
    <div class="info">
    Each Tribe has a local currency known as a Tribe Token. This is a foundational tool provided by the Native Protocol. When a Contributor finds a Tribe to join, they stake enough Native Tokens to become a member. Tribe Tokens are generated at the market price and sent to the Contributor’s account. The Native Tokens are split between going to the Local Reserve for that Tribe and the Tribe’s Development fund. The market cap of a Tribe Token is equivalent to the market cap of the Tribe.</div>
    <br><br>
    <h3>Development Fund</h3>
    <div class="info">
      Funds that are not allocated to the Local Reserve to act as a currency’s liquidity pool are sent the to the Tribe’s Development Fund. The Tribe can lend and spend from the fund to execute goals. The amount of NT in the Development Fund, and the utilization of it, represents one component of the Tribe’s value. In other words, the Development Fund is like the bank, but you have a higher degree of control to what your money powers.

  *We are building on Ethereum initially, so naturally we have an ETH based reserve. If it is indicated that we should move to another chain or live on multiple chains, we will rebuild Native there and spread the reserve across the chains.
</div>
    </div>
    </div>
    <img src="img/icons/Native-logo-solo-green_animated.svg" class="user-img" style="width: 200px; margin-top: 10%;">
    <h4>Native Token
      <br><br>
      The Native Token is the base currency of the Native Protocol. It is the unit of accounting to represent transactions within the Network. Native Token holders are liquidity providers and get rewarded for supporting the network through its continued growth and contributions from Tribes.
      </h4>
  </div>
</section>
	<img src="img/icons/website-banner.svg" class="user-img banner-img">
