<section id="plans-section" class="plans-section">
  <div class="container">
  <div class="section-header">
    <div class="row">
    <div class="col-md-6">
      <img src="img/icons/svg/token-model_4.svg" class="user-img banner-img" style="width: 500px;">
    </div>
    <div class="col-md-5 col-md-offset-1 left">
      <br><br>
    <h3>Native Network</h3>
    <div class="info">
      Native is a collective of users and Tribes. Joining Tribes that resonate with each user enables a higher degree of sovereignty in relation to where money goes, while it remains backed by the Reserve.
  <br><br>
    <h3>Native Reserve</h3>
    <div class="info">
    The Native Reserve is a liquidity pool of ETH (Ether) and BNT (Bancor Network Token) that provides liquidity and convertibility. The Reserve’s value grows with each user who joins Native. The supply and price point of Native Token is also partially determined by platform activity which, unlike traditional economics systems, means your money is backed by you and your Tribe.
  <br><br>
    <h3>Tribe Token</h3>
    <div class="info">
    Each Tribe has a local currency known as a Tribe Token. When a Contributor finds a Tribe, they stake Native Tokens to become a member, or earn them through completing tasks. Tribe Tokens are generated at an algorithmically calculated market price. The Native Tokens are split between the Local Reserve for that Tribe and the Tribe’s Development fund. The market cap of a Tribe Token is the value of the Tribe.
  <br><br>
    <h3>Development Fund</h3>
    <div class="info">
      Funds not allocated to the Local Reserve are sent the to the Tribe’s Development Fund. The Tribe can lend and spend to execute goals. The amount of NT in the Development Fund represents one component of the Tribe’s value.
</div>
    </div>
    </div>
    <img src="img/icons/Native-logo-solo-green_animated.svg" class="user-img" style="width: 200px; margin-top: 10%;">
    <h4>Native Token
      <br><br>
      Native Token is the base currency of Native. It is the entry point for membership to Tribes, and encapsulates the network’s value. Native Token holders are liquidity providers and support the network through its continued growth and contributions from Tribes.
      </h4>
  </div>
</section>
	<img src="img/icons/website-banner.svg" class="user-img banner-img">
