  <section id="tab-section-3" class="tab-section green partners-section">
    <div class="container">
      <div class="section-header">
        <h4 class="title" style="
    margin-bottom: -60px;    margin-top: -60px;
">Partners</h4>
      </div>

      <div class="row">
        <div class="owl-carousel owl-theme">

          <div>
            <a target="_blank" href="https://www.cryptodex.io/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/cryptodex.png">
                </div>
                <div class="content">
                  <p class="description">Token Advisory</p>
                  <h4>Cryptodex</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://www.palmbeach.agency">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/palmbeach.png">
                </div>
                <div class="content">
                  <p class="description">Creative Agency</p>
                  <h4>Palm Beach</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="http://vulpem.com/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/vulpemlogoblack.png">
                </div>
                <div class="content">
                  <p class="description">Blockchain Experts</p>
                  <h4>Vulpem</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://www.soluzionifutura.it/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/soluzioni-futura.png">
                </div>
                <div class="content">
                  <p class="description">Cloud infrastructure</p>
                  <h4>Soluzioni Futura</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://blockstreet.info/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/BlockStreet.png">
                </div>
                <div class="content">
                  <p class="description">Markets Analysis</p>
                  <h4>Blockstreet</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://www.icocountdown.com/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/icocountdown.png">
                </div>
                <div class="content">
                  <p class="description">Token Awareness</p>
                  <h4>ICOcountdown</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://www.coininterview.com/">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/coininterview.jpg">
                </div>
                <div class="content">
                  <p class="description">Crypto Interviews</p>
                  <h4>CoinInterview</h4>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="https://decentranet.com">
              <div class="partner">
                <div class="partner-img">
                  <img src="img/partners/decentra.png">
                </div>
                <div class="content">
                  <p class="description">Token Advisory</p>
                  <h4>Decentranet</h4>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </section>
