  <section id="roadmap" class="roadmap-section">
    <div class="separator2 reverse"></div>


    <div class="container">
      <div class="section-header">
        <h4 class="title">Roadmap</h4>
      </div>

      <div class="roadmap-line"></div>

      <div class="row">

        <ul class="roadmap-list">

          <li class="roadmap-item i1">
            <div class="icon">1</div>
            <div class="title">August 25, 2017</div>
            <div class="desc">Habitat Sale Dashboard</div>
          </li>
          <li class="roadmap-item i2">
            <div class="icon">2</div>
            <div class="title">September 5, 2017</div>
            <div class="desc">Whitepaper v1</div>
          </li>
          <li class="roadmap-item i3">
            <div class="icon">3</div>
            <div class="title">October 15, 2017</div>
            <div class="desc">MVP DApp</div>
          </li>
          <li class="roadmap-item i4">
            <div class="icon">4</div>
            <div class="title">November 4, 2017</div>
            <div class="desc">Token launch</div>
          </li>
          <li class="roadmap-item i5">
            <div class="icon">5</div>
            <div class="title">December 1, 2017</div>
            <div class="desc">V1 DApp</div>
          </li>
        </ul>
      </div>

    </div>
    <div class="separator1"></div>
  </section>