
  <section class="intro">
  <div class="container">
    <div class="section-header">
    <h4 class="title">Roadmap</h4>
    </div>
  </div>
</section>
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>December 2017 - Public launch of Native brand</time>
          - Whitepaper release
          <br>- Branding
          <br>- User flow
          <br>- Initial screen casting
          <br>- Outreach to suited Community Tribes
      </div>
    </li>
    <li>
      <div>
        <time>Q1 2018</time>
- User Experience
<br>- User Experience testing
<br>- UI dashboard
<br>- NT token launch
<br>- MVP dapp on Testnet
<br>- Onboarding of initial Tribe Curators
      </div>
    </li>
    <li>
      <div>
        <time>Q2 2018 - Native dapp V1</time>
- Open Tribe creation
<br>- Tribe token generation
<br>- Development Fund
<br>- Task feature
<br>- Lending capability
<br>- Voting Integration
      </div>
    </li>
    <li>
      <div>
        <time>Q4 2018 - Native dapp V2</time>
- Curator to DAO voting
<br>- Chat features
<br>- Partnership Integrations
<br>- Template Tribe Models
<br>- Inter-Tribe Link
<br>- Open plugin development
<br>- 0x Decentralized Exchange Relay
      </div>
    </li>
  </ul>
</section>
