  <section id="team" class="tab-section green team-section">
    <div class="container">

      <div class="section-header">
        <div class="info">Wizards, Alchemists and Gurus</div>
        <h4 class="title">Team</h4>
      </div>

      <div class="row ">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-1.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Jake Vartanian</h1>
            <h2>Founder</h2>
            <a target="_blank" href="https://twitter.com/JakeVartanian"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jakevartanian/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 ">
            <img src="img/team/pic-3.png" class="profile-img">
          </div>
          <div class="col-md-9">
            <h1>Tiero</h1>
            <h2>Blockchain Architect</h2>
            <a target="_blank" href="https://github.com/tiero"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-6.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Simone Giacomelli</h1>
            <h2>Coordination Alchemist</h2>
            <a target="_blank" href="https://twitter.com/SimoneSaysIt"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/simone-giacomelli-a8458197/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-7.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Valerio Versace</h1>
            <h2>Security/Cloud Architect</h2>
            <a target="_blank" href="https://www.linkedin.com/mynetwork/invite-sent/valerioversace/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-8.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Micah Spruill</h1>
            <h2>Token Advisor</h2>
            <a target="_blank" href="https://www.linkedin.com/in/micahspruill/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-9.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Amith Nirgunarthy</h1>
            <h2>Content Guru</h2>
            <a target="_blank" href="https://www.linkedin.com/in/anirgu/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-5.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Wiley Matthews</h1>
            <h2>Master Networker</h2>
            <a target="_blank" href="https://www.linkedin.com/in/wileymathews/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-2.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Simone Imbrescia</h1>
            <h2>Trouble Maker/Solver</h2>
            <a target="_blank" href="https://www.linkedin.com/in/simone-imbrescia-933b4b61/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-10.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Marcello Mari</h1>
            <h2>PR Wizard</h2>
            <a target="_blank" href="https://www.linkedin.com/in/marcellomari/"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="http://marcellomari.com/"><i class="fa fa-web"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-4.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Garrett MacDonald</h1>
            <h2>Development Magician</h2>
            <a target="_blank" href="https://www.linkedin.com/in/garrett-macdonald-0612344a/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-11.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Brad Mills</h1>
            <h2>FOMOnomic Advisor</h2>
            <a target="_blank" href="https://twitter.com/bradmillscan"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/bradmillscan"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-12.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>William Shropster</h1>
            <h2>D</h2>
            <a target="_blank" href=""><i class="fa fa-linkedin"></i></a>

          </div>
        </div>-->

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <img src="img/team/pic-13.png" class="profile-img">
          </div>
          <div class="col-lg-9 col-md-9">
            <h1>Marco Serafino</h1>
            <h2>Visual Designer</h2>
            <a target="_blank" href="https://www.linkedin.com/in/marco-serafino/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

      </div>

    </div>

    </div>
  </section>