  <section id="team" class="green team-section">
    <div class="container">

      <div class="section-header">
        <h4 class="title">Core Team</h4>
      </div>

      <div class="row ">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/pic-1.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Jake Vartanian</h1>
            <h2>Founder</h2>
            <a target="_blank" href="https://twitter.com/JakeVartanian"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jakevartanian/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/kirstyn.svg" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Kirstyn McMullan</h1>
            <h2>Co-Founder</h2>
            <a target="_blank" href="https://twitter.com/PalmBeachAgency"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/kirstyn-mcmullan-82424990/"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/falinebambi"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/pic-14.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Dean Eigenmann</h1>
            <h2>Blockchain & Smart Contract Developer </h2>
            <a target="_blank" href="https://twitter.com/DeanEigenmann"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/deaneigenmann"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/decanus"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/pic-9.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Amith Nirgunarthy</h1>
            <h2>Content Marketing</h2>
            <a target="_blank" href="https://www.linkedin.com/in/anirgu/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/pic-2.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Simone Imbrescia</h1>
            <h2>Development</h2>
            <a target="_blank" href="https://www.linkedin.com/in/simone-imbrescia-933b4b61/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/pic-4.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Garrett MacDonald</h1>
            <h2>Blockchain Architect</h2>
            <a target="_blank" href="https://www.linkedin.com/in/garrett-macdonald-0612344a/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4 ">
            <img src="img/team/pic-3.png" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Tiero</h1>
            <h2>Blockchain Architect</h2>
            <a target="_blank" href="https://github.com/tiero"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
          <div class="col-md-4 col-xs-4">
            <img src="img/team/sacha.svg" class="profile-img">
          </div>
          <div class="col-md-8">
            <h1>Sacha Bekkevold</h1>
            <h2>Community Manager</h2>
            <a target="_blank" href="https://twitter.com/nativeisland"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/sacha-bekkevold-a83908150/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>


      </div>

      <div class="section-header">
        <h4 class="title">Advisors</h4>
      </div>

            <div class="row ">

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="col-md-4 col-xs-4">
                  <img src="img/team/pic-7.png" class="profile-img">
                </div>
                <div class="col-md-8">
                  <h1>Valerio Versace</h1>
                  <h2>Security/Cloud Advisor</h2>
                  <a target="_blank" href="https://www.linkedin.com/mynetwork/invite-sent/valerioversace/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="col-md-4 col-xs-4">
                  <img src="img/team/pic-16.png" class="profile-img">
                </div>
                <div class="col-md-8">
                  <h1>Matt McKibbin</h1>
                  <h2>Chief Decentralizer</h2>
                  <a target="_blank" href="https://www.linkedin.com/in/mattmckibbin/"><i class="fa fa-linkedin"></i></a>
                  <a target="_blank" href="https://twitter.com/Matt_McKibbin"><i class="fa fa-twitter"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="col-md-4 col-xs-4">
                  <img src="img/team/pic-15.png" class="profile-img">
                </div>
                <div class="col-md-8">
                  <h1>Evan Caron</h1>
                  <h2>Markets Advisor</h2>
                  <a target="_blank" href="https://www.linkedin.com/in/evancaron/"><i class="fa fa-linkedin"></i></a>
                  <a target="_blank" href="https://angel.co/evan-caron"><i class="fa fa-angellist"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="col-md-4 col-xs-4">
                  <img src="img/team/pic-8.png" class="profile-img">
                </div>
                <div class="col-md-8">
                  <h1>Micah Spruill</h1>
                  <h2>Token Advisor</h2>
                  <a target="_blank" href="https://www.linkedin.com/in/micahspruill/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                  <img src="img/team/pic-11.png" class="profile-img">
                </div>
                <div class="col-lg-8 col-md-8">
                  <h1>Brad Mills</h1>
                  <h2>FOMOnomic Advisor</h2>
                  <a target="_blank" href="https://twitter.com/bradmillscan"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/in/bradmillscan"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
      </div>

  </section>
