  <section id="tabs-section" class="user-types-section">
    <div class="separator"></div>
    <div class="container">

      <div class="section-header">
        <h4 class="title">Elements of a Habitat</h4>
        <img src="/img/dashboard.gif" class="dashboard-gif">
        <div class="info">A Habitat is a curated information market where like minded people coordinate and create value together. Initially, habitats are built by trusted curators who bring awareness to projects aligned with the habitat’s vision. Habitats can support coordinated acquisitions of tokens, or infrastructure to execute a specific activity.</div>
        <div class="info">Habitat is the evolution of internet forums, where people aggregate around shared interests. Integrating programmable money allows users to benefit both economically and socially.</div>
        </br>
        <div class="info">
          <strong style="font-size: 18px">Use cases for Habitat include:</strong>
          </br>
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 sim-list">
            <ul>
              <li>
                <span class="index">1</span>
                <span class="title">Token Launch Syndication</span>
              </li>
              <li>
                <span class="index">2</span>
                <span class="title">Society or Community Planning</span>
              </li>
              <li>
                <span class="index">3</span>
                <span class="title">Funding of Ethical projects</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row wrapper tabs">
        <div class="tab col-md-4 col-xs-4 active">
          <div class="box box-1 ">
            <div class="icon"><i class="ico-c ico-1"></i></div>
            <div class="title">Supporters</div>
          </div>
        </div>
        <div class="tab col-md-4 col-xs-4">
          <div class="box box-2">
            <div class="icon"><i class="ico-c ico-2"></i></div>
            <div class="title">Curators</div>
          </div>
        </div>
        <div class="tab col-md-4 col-xs-4">
          <div class="box box-3">
            <div class="icon"><i class="ico-c ico-3"></i></div>
            <div class="title">Creators</div>
          </div>
        </div>
      </div>


      <div class="details">
        <div class="row detail active animated fadeIn">

          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="title mrb">Supporters</h2>
            <p class="short">Supporting a Habitat makes it simple to get involved in the projects that you care about. Trusted curators provide awareness of and access only to tokens aligned with a shared vision.</p>
          </div>

          <div class="col-md-4 list">
            <ul >
              <li>
                <span class="index">1</span>
                <span class="title">Join trusted networks</span>
              </li>
              <li>
                <span class="index">2</span>
                <span class="title">Quickly support promising crypto-projects</span>
              </li>
              <li>
                <span class="index">3</span>
                <span class="title">Gain access to a high quality education portal</span>
              </li>
            </ul>
          </div>

        </div>

        <div class="row detail animated fadeIn">

          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="title mrb">Curators</h2>
            <p class="short">As trusted experts, curators build collaborative networks by connecting supporters to the best opportunities.  Curators find projects and share them with their communities to support the growth of ideas.
            </p>
          </div>

          <div class="col-md-4 list">
            <ul >
              <li>
                <span class="index">1</span>
                <span class="title">Connect quality projects with supporters</span>
              </li>
              <li>
                <span class="index">2</span>
                <span class="title">Build community based on a common vision or ethos</span>
              </li>
              <li>
                <span class="index">3</span>
                <span class="title">Generate value from their expertise</span>
              </li>
            </ul>
          </div>

        </div>

        <div class="row detail  animated fadeIn">

          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="title mrb">Creators</h2>
            <p class="short">Creators use Habitat to find supporters and grow their idea. By becoming a Creator, entrepreneurs and innovators can utilize Habitat to develop their token model, launch their venture, and find supporters invested in their success.
            </p>
          </div>

          <div class="col-md-4 list">
            <ul >
              <li>
                <span class="index">1</span>
                <span class="title">Access a relevant user base for their project</span>
              </li>
              <li>
                <span class="index">2</span>
                <span class="title">Connect with communities of like minded supporters</span>
              </li>
              <li>
                <span class="index">3</span>
                <span class="title">Empower like minded individuals to benefit economically and socially</span>
              </li>
            </ul>
          </div>

        </div>
      </div>



    </div>
    <div class="separator green" style="bottom: 0;top: auto;margin-bottom: -150px;"></div>
  </section>