  <section id="tabs-section" class="user-types-section">
    <div class="section-header">
      <h4 class="title">Find your Tribe or start your own…</h4>
      <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <img src="img/explorer_FINAL.svg" class="user-img">
      </div>
      <div class="col-md-4 col-md-offset-1 left">
      <h3>Curators</h3>
      <div class="info">Curators are the founders of Tribes. They oversee and guide the Tribe as it grows. Initially curators define and facilitate the execution of goals through appropriate allocation of funds and conducting capital raises on behalf of projects that have interests aligned with the Tribe. Curators can create proposals that are voted on by the Tribe to approve, and approve proposals from Contributors.
        In future versions of Native we aim to distribute this power to the Contributors of the Tribe directly through staking their tokens in voting decisions
        <br><br>
        <label for="mce-EMAIL">Interested in being a Beta Curator?</label>
        <br><br>
        <a class="btn btn-primary" href="https://nativeprotocol.typeform.com/to/U3ZeE6" target="_blank">Apply</a>
      </div>
      </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
      <div class="col-md-4 col-md-offset-1 right">
      <h3>Contributors</h3>
      <div class="info">Contributors join Tribes to participate in an economy that resonates with their interests and goals.  It is equivalent to staking a portion of wealth into a particular banking system that allocates capital in a way that the Contributor prefers. Their money can be used within the Tribe or lent to members a in similar fashion to how banks invest today, but the option to choose the system and values is the basis for a better banking system.
        Contributors can also utilize Native to plug their own projects into Tribes through making a proposal. The proposal can request funding or a loan from the vault, a request for external funding or just active support from the Tribe members.
</div>
    </div>
      <div class="col-md-4 col-md-offset-1">
        <img src="img/wandering_FINAL.svg" class="user-img">
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row wrapper tabs detail">
        <div class="tab col-md-4 col-xs-4 active">
          <div class="box hvr-grow">
            <img src="img/island-festival.svg" class="islands">
            <div class="festival">Festival Tribe</div>
            </div>
        </div>
        <div class="tab col-md-4 col-xs-4">
          <div class="box hvr-grow">
            <img src="img/island-micronation.svg" class="islands">
            <div class="micronation">Launch Tribe</div>
          </div>
        </div>
        <div class="tab col-md-4 col-xs-4">
          <div class="box hvr-grow">
            <img src="img/island-charity.svg" class="islands">
            <div class="charity">Local Community Tribe</div>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="row detail active animated fadeIn">
          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="festival mrb">Festival</h2>
            <p class="short">
              Jamal, an entertainment producer, is promoting his organization's second annual music festival. He creates a Tribe called The Festival and uses the mailing list from last year’s attendees to invite users to join. As the Tribes curator, Jamal launches The Festival token and sets a deadline date to raise 10,000 NT which will cover the festival’s performance costs. Jamal incentivizes users by offering them free festival tickets if they buy a certain amount, and the ability to stake interest in specific artists Contributors want to see at the event. <br>
              If a performer receives the amount of tokens needed to cover their performance cost, then Jamal selects them for the festival. By the end of the campaign, 1,100 people received free festival tickets and 16 performers received enough tokens to perform.
  </div>
          <div class="col-md-4 list festival">
            <ul >
              <li>
                <span class="orange">1</span>
                <span class="title">Collectively fund projects upfront to collect support and mitigate risk</span>
              </li>
              <li>
                <span class="orange">2</span>
                <span class="title">Use Tribe Token to stake votes for specific proposals</span>
              </li>
              <li>
                <span class="orange">3</span>
                <span class="title">Access member only features through token ownership</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row detail animated fadeIn">

          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="micronation mrb">Launch Tribe</h2>
            <p class="short">
              Thelonious has been involved in cryptocurrency for a few years. He receives requests from individuals who want an expert to guide them through the cryptocurrency space.
              Thelonious has access to unique opportunities and insight in the blockchain industry through his knowledge and connections. He wants to extend some these opportunities to his network, but coordinating all of the necessary parties for each opportunity is time-consuming and inefficient. He has a lot to gain from making these connections happen, because his network is willing to compensate him for his efforts.
              After discovering Native, Thelonious becomes a Curator and stakes NT to start his Tribe. Once he brings his network onto the platform, Thelonious can efficiently present opportunities to a network of people that trust him and  are aligned with his vision. He never has to store or distribute funds because all transfers occur through smart contracts, which enables the secure management of project tokens.
          </p>
          </div>

          <div class="col-md-4 list micronation">
            <ul >
              <li>
                <span class="blue">1</span>
                <span class="title">Present promising upcoming token launches to your tribe</span>
              </li>
              <li>
                <span class="blue">2</span>
                <span class="title">Work together to fund projects and gather support</span>
              </li>
              <li>
                <span class="blue">3</span>
                <span class="title">Efficient token distribution to contributors</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row detail  animated fadeIn">

          <div class="col-md-6 col-md-offset-1 heading">
            <h2 class="charity mrb">Local Community</h2>
            <p class="short">
              Ilse has a community of over 250 people in her local town in Vermont who are all interested in creating a sustainable farming movement that won’t rely on imported goods from outside of the economy. The group has been successful in setting up three farms that can grow 60% of the desired food. Essentially it functions as a co-op, but they need a method to expand the organization and have better tools to allocate funds.
              Ilse creates a Tribe which she calls Vermonters for Sustainability and requests that the community join the Tribe. The minimum amount to join is the equivalent of $100, but each member can store as much of their wealth in the Tribe that they would like. Over $55,000 is raised through the Native Token and the VST (Vermonters for Sustainability Token) starts to become the local currency for the group. It represents the ability to redeem funds for share of produce as well as partial ownership of the VS Development Fund, which earns revenue and lends funds to relevant sustainability projects.
            </p>
          </div>

          <div class="col-md-4 list charity">
            <ul >
              <li>
                <span class="pink">1</span>
                <span class="title">Represent your community on Ethereum with a local currency</span>
              </li>
              <li>
                <span class="pink">2</span>
                <span class="title">Connect into a Network of liquidity through the Native Token</span>
              </li>
              <li>
                <span class="pink">3</span>
                <span class="title">Raise funding to accomplish community goals while keeping everything local</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
