<div class="image-bg-fluid-height"
	<% if( "undefined" !== typeof habitat.coverImageUrl && habitat.coverImageUrl !== "" ) { %>
		style="background: url('<%= habitat.coverImageUrl %>') no-repeat center center scroll"
	<% } %>
	>
	<% if("undefined" !== typeof habitat.imageUrl && habitat.imageUrl!=='') { %>
		<img class="img-responsive img-center" src="<%= habitat.imageUrl %>" alt="<%= habitat.fullName %>">
	<% } else { %>
	    <img src="/img/team/pic-1.png">
	<% } %>
</div>